<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Dashboard</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Intern Hunt</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
      <li><a href="/company/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="width:95%">
<h3>Your HRs</h3>
<table class="table table-striped">
    <tr>
        <th>HR</th>
    </tr>
    {% for person in hr %}
    <tr>
        <td>
            {{ person.name }}
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<br>
<h3>Your Jobs</h3>
    {% for job in jobs %}
    <div class="row-striped" style="padding:16px; background-color: #efefef; margin-top: 16px">
        <div class="row">
            <div class="col-sm-6"><b>Position:</b> {{ job.type }}</div>
            <div class="col-sm-6">
                {% if job.status == "CLOSED" %}
                    <span class="text-danger"><b> {{ job.status }} </b></span>
                {% elif job.status == "OPEN" %}
                    <span class="text-success"><b> {{ job.status }} </b></span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"><b>Description:</b><br>
            {{ job.description }}</div>
        </div>
        <div class="row">
            <div class="col-sm-6"><b>From Date:</b> {{ job.fromdate }}</div>
            <div class="col-sm-6"><b>To Date:</b> {{ job.todate }}</div>
        </div>
        <div class="row">
            <div class="col-sm-3"><b>Pending:<span class="text-primary"> {{ job.pending }} </span></b></div>
            <div class="col-sm-3"><b>Accepted:<span class="text-success"> {{ job.accept }} </span></b></div>
            <div class="col-sm-3"><b>Rejected:<span class="text-danger"> {{ job.reject }} </span></b></div>
            <div class="col-sm-3"><b>Total:<span> {{ job.total }} </span></b></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-1">
                Change HR:
            </div>
            <div class="col-sm-8">
            <form action="/company/changehrforjob" method="post">
                <input type="hidden" name="pid" value="{{ job.pid }}">
                <select name="hid">
                    {% for person in hr %}
                        {% if person.hid == job.hr_hid %}
                            <option value="{{ person.hid }}" selected>{{ person.name }}</option>
                        {% else %}
                            <option value="{{ person.hid }}">{{ person.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" class="btn btn-primary" value="Change">
            </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>